@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.head{
    width: 100%;
    height: 63px;
    /* background: gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.head h1 a{
    display: block;
    width: 130px;
    height: 32px;
    background: url(../images/화면\ 캡처\ 2025-12-22\ 122821.png);
    text-indent: -99999px;
}

.head ul li a{
    font-size: 20px;
}

.head ul{
    display: flex;
    gap: 30px;
}

.head ul li a{
    color: #fff;
}

.visual{
    width: 100%;
}

.visual img{
    width: 100%;
    height: 100%;
}