@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none; cursor: pointer;}

.head{
    width: 100%;
    height: 48px;
    background: #000;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.head button{
    color: #fff;
    font-size: 24px;
}

.head h1 a{
    display: block;
    width: 149px;
    height: 22px;
    background: url(../images/logo.png) no-repeat;
    /* 배경이미지 줄이는 명령 */
    background-size: 149px 22px;
    text-indent: -999999px;
}

.gnb{
    width: 100%;
    height: 48px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.gnb li a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}