@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
button{border: none; background: none;}

.box{
    width: 1000px;
    height: 1003px;
    /* background: gold; */
    /* 가로세로 센터 정렬 */
    /* 부모가 포지션이면 자동으로 부모 기준이 됨 */
    position: absolute;
    left: 50%;
    top: 50%;
    /* margin-left: -500px;
    margin-top: -501.5px; */
    transform: translate(-50%,-50%);
}

.box .left{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -73px;
    margin-top: -501.5px;
    /* 애니메이션 실행 */
    animation: left_ani 2s ease-in-out forwards;
}

/* 애니메이션 설정 */
@keyframes left_ani{
    from{left: 50%;}
    to{left: 20%;}
}

.box .right{
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -73px;
    margin-top: -501.5px;
    animation: right_ani 2s ease-in-out forwards;
}

/* 애니메이션 설정 */
@keyframes right_ani{
    from{right: 50%;}
    to{right: 20%;}
}

.title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title h2{
    font-size: 32px;
    color: #333;
    font-weight: 900;
    line-height: 45px;
    opacity: 0;
    animation: h2_ani 1s ease-in-out forwards 2s;
}

@keyframes h2_ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.title p{
    font-size: 17px;
    color: #888;
    font-weight: 700;
    line-height: 22px;
    margin: 24px 0;
    opacity: 0;
    animation: p_ani 1s ease-in-out forwards 2.5s;
}

@keyframes p_ani{
    from{opacity: 0;}
    to{opacity: 1;}
}

.title button{
    cursor: pointer;
    opacity: 0;
    animation: bt_ani 1s ease-in-out forwards 3s;
}

@keyframes bt_ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

