@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}

div{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;

    /* 애니메이션 실행 명령 */
    /* animation-name: rotate_ani;
    animation-duration: 3s; */
    /* 애니메이션 실행 시 원래 위치로 되돌아가기 방지 */
    /* animation-fill-mode: forwards; */
    /* 원하는 만틈 반복실행 */
    /* animation-iteration-count: 3; */
    /* 무한도전 */
    /* animation-iteration-count: infinite; */
    /* 시계 반대방향으로 움직이는 명령 */
    /* animation-direction: reverse; */
    /* 시계방향 반시계방향 한번 씩 반복 */
    /* animation-direction: alternate; */
    /* 가속도 */
    /* animation-timing-function: ease-in-out;
    animation-timing-function: linear; */
    /* 지연시간 */
    /* animation-delay: 2s; */
    
    /* 애니메션 실행 약식 */
    animation: rotate_ani 4s ease-in-out infinite forwards 2s;
    }

    /* 애니메이션 설정*/
    @keyframes circle_ani{
        from{left:0px}
        to{left: 1000px;}
    }

    /* 애니메이션 설정 */
    @keyframes move_ani{
        0%{left: 0;}
        100%{left: 1500px;}
    }

    /* 애니메이션 설정 */
    @keyframes rotate_ani{
        0%{left: 0; top: 0;}
        25%{left: 1000px; top: 0; background: blue; }
        50%{left: 1000px; top: 300px; background: yellow;}
        75%{left: 0; top: 300px; background: pink;}
        100%{left: 0; top: 0; background: red;}
    }