@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}

.pp{
    width: 1000px;
    height: 300px;
    border: 1px solid #0d118c;
    margin: 0 auto;
    position: relative;
}
.pp .ch{
    width: 100px;
    height: 100px;
    background: #ff69b3;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotate_ani 4s ease-in-out infinite forwards
}

    @keyframes rotate_ani{
        0%{left: 0; top: 0;}
        25%{left: 900px; top: 0;}
        50%{left: 900px; top: 200px;}
        75%{left: 0; top: 200px;}
        100%{left: 0; top: 0;}
    }


.ppp{
    width: 1000px;
    height: 300px;
    border: 1px solid #a02923;
    margin: 200px auto;
    position: relative;
}
.ppp .chch{
    width: 100px;
    height: 100px;
    background: #ffff00;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotate2_ani 4s ease-in-out forwards
}

    @keyframes rotate2_ani{
        0%{left: 0; top: 0;}
        20%{left: 900px; top: 0;}
        40%{left: 900px; top: 200px;}
        60%{left: 0; top: 200px;}
        80%{left: 0px; top: 0;}
        100%{left: -100px; top: 0;}
    }