@charset "utf-8";
body{
    background-color: #99cd00;
}
*{margin: 0; padding: 0;}

.box{
    width: 520px;
    height: 270px;
    background-color: #ffff08;
    border: 10px solid #316831;
    margin: 90px auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

.box .red{
    width: 200px;
    height: 400px;
    background-color: #ff6766;
    position: absolute;
    left: 50px;
    top: 50px;
}

.box .green{
    width: 200px;
    height: 400px;
    background-color: #9afe66;
    position: absolute;
    left: 100px;
    top: 100px;
}

.box .blue{
    width: 200px;
    height: 400px;
    background-color: #0066cb;
    position: absolute;
    left: 150px;
    top: 150px;
}
