@charset "utf-8";
body{
    background: #333;
}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

h1{
    color: #000;
    text-align: center;
    font-size: 41px;
    font-weight: 900;
    margin-top: 60px;
}

ul{
    width: 640px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 100px;
}

ul li{
    width: 200px;
    height: 80px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px #fff;
}

ul li:hover a{
    background-image: linear-gradient(to bottom, #f9ca40 50%, #ed4209 50%);
}

ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #878c86 50%, #1a1a1a 50%);
    color: #fff;
}