@charset "utf-8";
body{
    background: #fff;
    color: #333;
}
*{margin: 0; padding: 0;}
li{list-style: none;}

.wrap{
    text-align: center;
}

.header{
    width: 1200px;
    height: 100px;
    background: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    width: 200px;
    height: 40px;
    background: blanchedalmond;
}

.header .gnb{
    width: 600px;
    height: 40px;
    background: blueviolet;
}

.slide{
    width: 1200px;
    height: 300px;
    background: chartreuse;
    margin: 0 auto;

}

.contents{
    width: 1200px;
    height: 200px;
    background: darkcyan;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contents .notice{
    width: 400px;
    height: 200px;
    background: deepskyblue;
}

.contents .banner{
    width: 400px;
    height: 200px;
    background: deeppink;
}

.contents .golink{
    width: 400px;
    height: 200px;
    background: darkorange;
}

.footer{
    width: 1200px;
    height: 100px;
    background: gold;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer .logo{
    width: 200px;
    height: 40px;
    background: gray;
}

.footer ul{
    width: 1000px;
    height: 100px;
    background: indianred;
}

.footer ul .menu{
    width: 100%;
    height: 50px;
    background: palegreen;
}

.footer ul .copy{
    width: 100%;
    height: 50px;
    background: palevioletred;
}