@charset "utf-8";
/* 웹폰트설정 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
body{
font-family: 'NanumSquareRound';
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.box{
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0 ;
}

div h2{
    font-size: 42px;
    color: #142849;
    font-weight: 900;
    margin-bottom: 70px;
}

div ul{
    display: flex;
    gap: 24px;
}

div ul li{
    width: 384px;
    transition: all 0.5s ease-in-out;
}

div ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

div ul li a .imgbox{
    width: 100%;
    height: 217px;
    border-radius: 16px;
    overflow: hidden;
}

div ul li a .imgbox img{
    width: 100%;
    height: 100%;
}

div ul li a h3{
    font-size: 21px;
    font-weight: 900;
    color: #142849;
    line-height: 27px;
    margin-top: 28px;
}

div ul li:hover{
    transform: translateY(-10px);
}