@charset "utf-8";
body{
    font-family: "맑은고딕","malgun gothic",sans-serif;
}
*{margin: 0; padding: 0;}

.box1{
    width: 450px;
    height: 70px;
    background: #00ccff;
    border: 1px solid #000;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    /* 회전 */
    transform: rotate(-45deg);
    margin: 50px 0 0 -100px;
}

.box2{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #ccff00;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    margin: 400px 0 0 60px;
    /* 기울이기 */
    transform: skewX(-15deg);
    /* transform: skewY(-15deg); */
    /* transform: skew(-15deg,-15deg); */
}

.box3{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #ffcc00;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 이동하기 */
    /* transform: translateX(100px);
    transform: translateY(-100px);
    transform: translate(100px,100px); */
    /* 요소의 사이즈를 몰라도 중앙에 정렬하는 방법 */
    transform: translate(-50%,-50%);
}

.box4{
    width: 100px;
    height: 100px;
    background: #000;
    color: #fff;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 350px;
    top: 250px;
    /* a태그 사용하지 않고 손모양 */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.box4:hover{
    /* 크기조절 */
    /* transform: scale(2) rotate(360deg); */
    transform: scale(1.1);
}