@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
li{list-style: none;}

.box{
    width: 1000px;
    height: 500px;
    border: 5px solid #0002fe;
    margin: 0 auto;
}
.box div{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    /* 옆으로 정렬 */
    float: left;
    margin: 20px 20px 0 0;
    border-radius: 16px;
}
ul{
    width: 1000px;
    height: 500px;
    border: 5px solid #0002fe;
    margin: 20px auto 0;
}
ul li{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    float: left;
    margin: 20px 20px 0 0;
    border-radius: 16px;
}