@charset "utf-8";

body{

}
*{margin: 0; padding: 0;}
a{text-decoration: none;}

.box{
    width: 1470px;
    height: 200px;
    margin: 0 auto;
}

.box div{
    width: 490px;
    height: 200px;
    background-color: gold;
    float: left;
    color: #fff;
    box-sizing: border-box;
}
.box div a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 36px;
}

.box .child1{
    background: #907354 url(../images/speed_menu_icon_02.png) no-repeat 232px center;
}
.box .child2{
    background: #434343 url(../images/speed_menu_icon_03.png) no-repeat 232px center;
}
.box .child2:hover{
    background: #434343 url(../images/speed_menu_icon_02.png) no-repeat 232px center;
}
.box .child3{
    background: #c30606 url(../images/speed_menu_icon_04.png) no-repeat 232px center;
}
.box .child3:hover{
    background: #c30606 url(../images/speed_menu_icon_03.png) no-repeat 232px center;
}

.box div h2, .box div p{
    color: #fff;
}