@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
li{list-style: none;}

.box{
    width: 1000px;
    height: 300px;
    border: 4px solid black;
    margin: 0 auto;
}
.box div{
    width: 235px;
    height: 300px;
    background-color: blue;
    float: left;
    margin-right: 20px;
}
.box .last{
    margin-right: 0;
}

ul{
    width: 1000px;
    height: 300px;
    border: 4px solid black;
    margin: 0 auto;
}
ul li{
    width: 235px;
    height: 300px;
    background-color: orangered;
    float: left;
    margin-right: 20px;
}
ul .last{
    margin-right: 0;
}