@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
li{list-style: none;}

.box{
    background-color: #f2f1f0;
    color: #2e2e7c;
    width: 1680px;
    height: 380px;
    border: 1px solid #f2f1f0;
    margin: auto;
}
.box div{
    background-color: #FFF;
    width: 350px;
    height: 380px;
    border: 1px solid #fff;
    float: left;
    border-radius: 16px;
    margin: 0 40px 0 0;
}
ul{
    background-color: #f2f1f0;
    color: #2e2e7c;
    width: 1680px;
    height: 380px;
    border: 1px solid #f2f1f0;
    margin: 20px auto;
}
ul li{
    background-color: #fff;
    width: 350px;
    height: 380px;
    border: 1px solid #fff;
    float: left;
    border-radius: 16px;
    margin: 0 40px 0 0;
}
div .fst{
    background-color: #2e2e7c;
    color: #fff;
}
ul .fst{
    background-color: #2e2e7c;
    color: #fff;
}