@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
/* 여백초기화 */
*{margin: 0; padding: 0;}
/* 기본설정초기화 */
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none;}

.header{
    width: 1100px;
    height: 66px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    /* 가로정렬 */
    display: flex;
    /* 양쪽정렬 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.header h1 a{
    /* a태그는  */
    display: block;
    /* 이미지 삽입할 땐 삽입할 이미지 사이즈를 꼭 알아야한다. */
    width: 113px;
    height: 37px;
    /* 이미지 삽입 */
    background: url(../images/header_logo.jpg) no-repeat;
    /* 달아준 텍스트를 화면 밖으로 이동시켜 안보이게 한다. */
    text-indent: -99999px;
}

/* 주메뉴 */
.header ul.gnb{
    display: flex;
    gap: 66px;
}

/* 바로 밑에있는 자식만 선택하고 싶을 때 > 사용 */
.header ul.gnb>li{
    position: relative;
    /* background: gold; */
    padding: 20px 0;
}

.header ul.gnb>li>a{
    color: #6e6e6e;
    font-size: 17px;
    font-weight: 700;
}

/* hover일 때 글자색, 테두리 밑선 설정 */
.header ul.gnb>li:hover>a{
    color: #3381c0;
    border-bottom: 2px solid #3381c0;
}

/* 경계선 (포지션 기준은 부모 아니고 자식)*/
.header ul.gnb>li:before{
    /* 글자아니고 박스라는거 알려주기 위해 설정 */
    content: '';
    width: 1px;
    height: 27px;
    background: #c8c8c8;
    /* 반드시 공중에 띄워서 배치 */
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
}

/* 해당요소를 숨기는 명령 */
.header ul.gnb>li:first-child:before{
    display: none;
}

.header button{
    width: 32px;
    height: 21px;
    border: 1px solid #dedede;
    font-size: 11px;
    color: #9b9b9b;
    cursor: pointer;
}

/* 메인이미지 */
.visual{
    width: 100%;
    height: 960px;
    background: url(../images/mainslide_img01.jpg) no-repeat center top;
}

/* 2차메뉴 */
.header .gnb>li>.depth2{
    background: #fff;
    width: 166px;
    line-height: 35px;
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translate(-50%);
    border: 1px solid #c8c8c8;
    border-top: none;
    text-align: center;
    display: none;
}

.header .gnb>li>.depth2 li:hover{
    background: #3381c0;
}

.header .gnb>li>.depth2 li:hover a{
    color: #fff;
    background: url(../images/icon_arrow2.png) no-repeat left center;
}

.header .gnb>li>.depth2 li a{
    font-size: 14px;
    color: #555;
    padding: 0 10px;
}

/* 1차 메뉴 li에 hover하면 2차메뉴 보이게 */
.header .gnb>li:hover>.depth2{
    display: block;
}