@charset "utf-8";
body{
background-color: #919c3c;
}
*{margin: 0; padding: 0;}
/* 특수문자 없애기 */
li{list-style: none;}
/* 글자 및줄 */
a{text-decoration: none;}

ul{
    width: 1280px;
    margin: 40px auto 0;
    /* 자식크기만큼 감싸는 명령 */
    overflow: hidden;
}

ul li{
    width: 400px;
    height: 272px;
    float: left;
    margin-right: 40px;
}

ul li a{
    /* 옆으로 배치하는 테그 inline태그 */
    /* 아랠로 쌓이는 태그 블럭요소태그 */
    /* inline 특징은 크기 설정을 못알아들음 */
    /* inline태그의 크기를 바꾸려면 블럭요소 태그 성질로 바꾼 후 가능 */
    width: 100%;
    height: 100%;
    /* 블럭요소로 바꾸는 태그 display: block;*/
    display: block;
    border-radius: 24px;
    overflow: hidden;
}

ul li a .imgbox{
    width: 400px;
    height: 227px;
}

ul li a .imgbox img{
    width: 100%;
    height: 100%;
}

ul li a .tit{
    width: 100%;
    height: 45px;
    background-color: #fff;
    text-align: center;
}

ul .last{
    margin-right: 0px;
}

ul li .tit h3{
    /* 위아래 가운데 정렬 */
    line-height: 45px;
    color: #222;
}