@charset "utf-8";
body{
    font-family: "맑은고딕", "malgun gothic", sans-serif;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

h1{
    font-size: 33px;
    text-align: center;
    margin-bottom: 38px;
    font-weight: 900;
}

ul{
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

ul li{
    width: 388px;
    float: left;
    margin-right: 16px;
}

ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

ul li a .imgbox{
    width: 100%;
    height: 480px;
}

ul li a .imgbox img{
    width: 100%;
    height: 100%;
}

ul li a .info{
    text-align: center;
    padding: 26px 38px;
    box-sizing: border-box;
}

ul li a .info .ccc{
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

ul li a .info h2{
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

ul li a .info .cccc{
    font-size: 18px;
    color: #000;
}

ul li a .info .c{
    font-size: 10px;
    color: #767676;
    margin-top: 17px;
}

ul .last{
    margin-right: 0px;
}