@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic", sans-serif;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

h2{
    text-align: center;
}

ul{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

ul li{
    width: 285px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
        border-radius: 24px;
        overflow: hidden;

    
}

ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

ul li a .imgbox{
    width: 100%;
    height: 196px;
    position: relative;
}

ul li a .imgbox img{
    width: 100%;
    height: 100%;
}

ul li a .imgbox span{
    font-size: 16px;
    background: #f8e8f3;
    color: #ee008c;
    font-weight: 700;
    padding: 8px 11px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -30px;
}

ul li a .info{
    padding: 23px 16px;
    box-sizing: border-box;
}

ul li a .info h3{
    font-size: 22px;
    color: #222;
    line-height: 29px;
    margin-bottom: 26px;
}

ul li a .info p{
    font-size: 18px;
    color: #555;
}

ul li a .info .price{
    font-size: 22px;
    color: #ff5c46;
    font-weight: 700;
    margin-top: 19px;
}

ul .last{
    margin-right: 0px;
}

