@charset "utf-8";
body{

}

*{margin: 0; padding: 0;}

div{
    width: 1000px;
    height: 300px;
    border: 1px solid #000;
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    margin: 45px auto;
}