@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}

div{
    width: 100px;
    height: 100px;
    background: red;
    /* 중간과정을 만들고 실행 시간은 3초이며 가속도 설정 */
    /* transition: all 3s ease-in-out; */
    /* 사파리/크롬 브라우져 모두 적용 */
    -webkit-transition: all 3s ease-in-out 5s;
}

div:hover{
    width: 1000px;

}